* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 2000px;
    justify-content: flex-start;
    align-items: center;
}

.container {
    width: 600px;
}

.chapter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

h2 {
    background-color: white;
    position: sticky;
    top: 0;
    padding: 10px 0px;
}

p {
    font-size: 1rem;
    text-align: justify;
    text-indent: 20px;
    padding-bottom: 5px;
}